# Target build directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE and Editor files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
*.swp
*.bak

# Logs
logs/
*.log

# OS generated
.DS_Store
Thumbs.db

# Secrets & Local Environment Overrides
.env
.env.local
**/application-local.properties
**/application-*.local.properties

# Generated reports backup
reports/
